
@{
    ViewBag.Title = "index";
}

<!DOCTYPE html>
<html>
-<body background="~/plane_photo.jpg" alt="Map" style="background-size:100% 100%; background-attachment:fixed; width:100%; height:100%; overflow:hidden">
</body>
</html>